body{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
section{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
section header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
section header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
section header ul li{
    list-style: none;
    margin-left: 20px;
}
section header ul li a{
    color: #111;
    text-decoration: none;
    font-size: 13px;
}
section header ul li a img{
    width: 20px;
}
section header ul li button{
    background-color: #4584ef;
    border: none;
    outline: none;
    padding: 8px 14px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    margin-right: 10px;
}
.main{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}
.main img{
    object-fit: contain;
    height: 100px;   
}
.search_input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}
.search_input input{
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 16px;
}
.search_input .material-icon{
    color: gray;
}
.search_buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.search_buttons button{
    margin: 5px;
    padding: 10px 15px;
    background-color: #f8f8f8;
    border: none;
    outline: none;
    cursor: pointer;
}
.search_buttons button:hover{
    border: 1px solid #ccc;
}
.lang{
    margin-top: 5px;
    display: flex;
    justify-content: center;
}
.footer{
    position: relative;
    margin-top: 100px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #f2f2f2;
}
.footer .row{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(0, 0, 0,0.05);
}
.footer .row ul{
    display: flex;
}
.footer .row ul li{
    list-style: none;
}
.footer .row ul li a{
    text-decoration: none;
    font-size: 14px;
    color: #5f6368;
    margin-right: 25px;
}

